body {

  background-color: #E2Ac7F;
}


#shake {
  font-style: italic;
  font-family: sans-serif;
  border-style: dotted;
  width: 100%auto;
  text-align: center;
  background-color: #F5F5DC
}


h2 {
  font-size: 11px;
  font-family: sans-serif;

}


p::first-letter {
  font-weight: bold;
}

p {
  font-style: italic;
  font-family: sans-serif;
  font-weight: lighter;
  text-align: center;
}
